body {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.6, 0.6);
  }
  to {
    transform: rotate(180deg) scale(0.6, 0.6);
  }
}

.item-box {
  width: 2vw;
  height: 2vw;
  border: 1px solid black;
}

.item {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* animation: 3s linear 0s infinite forwards spin; */
  /* transform: scale(0.6, 0.6); */
}

.reset-button {
  border: 1px solid black;
  color: black;
  background: none;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 30px;
  /* transition: color 0.1s ease, background-color 0.1s ease; */
}

.reset-button:hover {
  background: black;
  color: white;
}
